$white: #fff;
$black: #000;
$silver: #cccccc;
$alabaster: #f9f9f9;
$ebonyClay: #25303f;
$blackPearl: #031226;
$tundora: #444444;
$spindle: #b0c2e6;
$cornflowerBlue: #4981ef;
$pigeonPost: #b0c1d9;
$steelBlue: #468ba6;
$lynch: #64758c;
$calypso: #30698c;
$mineShaft: #2e2e2e;
