$translateMenu: -260px;
$translateBurguerMenu: -224px;
$transitionMenu: all 0.4s ease-out;
$paddingLeftRightScreen: 10rem;
$paddingLarge: 2.5rem;
$smallViewports: 480px;
$mediumViewports: 768px;
$largeViewports: 1279px;
